:root {
  --green-tint: #f4fcf6;
  --green: #39c252;
  --green-alt: #329c46;
  --green-opaque: #39c2524d;
  --red-tint: #fff7f7;
  --red: #e34e4e;
  --red-opaque: #e34e4e53;
  --light-tint: #f9f7fd;
  --yellow: #e3d74e;
  --yellow-opaque: #e3d74e4f;
  --light-tint: #f9f7fd;
  --accent: #794ee3;
  --accent-alt: #4e3caa;
  --accent-opaque: #784ee346;
  --dim: #6d657e;
  --dark: #36403c;
  --darker: #2e2e30;
  --shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  --radius: 1rem;
  --radius-1: 0.5rem;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.accent {
  color: var(--accent);
}
.yellow {
  color: var(--yellow) !important;
}
.red {
  color: var(--red) !important;
}
.green {
  color: var(--green-alt) !important;
}
.center {
  display: block;
  text-align: center;
}
.bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.dim {
  color: var(--dim);
}

.button {
  width: calc(100% - 2rem);
  height: 3rem;
  border: none;
  border-radius: var(--radius-1);
  box-shadow: 0px 0px 10px var(--accent-opaque);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.accent-btn {
  background-image: linear-gradient(45deg, var(--accent), var(--accent-alt));
  color: white;
}
.clear-btn {
  background-color: white;
  outline: 2px solid var(--accent-opaque);
}
.red-btn {
  box-shadow: 0px 0px 10px var(--red-opaque);
  background-color: var(--red);
  color: white;
}
.yellow-btn {
  box-shadow: 0px 0px 10px var(--yellow-opaque);
  background-color: var(--yellow);
  color: white;
}

.action-btns-container {
  position: fixed;
  left: 0;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.red-input {
  border: solid 2px var(--red) !important;
  background-color: var(--red-tint) !important;
  color: var(--red) !important;
}
.red-input:focus {
  outline: solid 2px var(--red-opaque) !important;
  box-shadow: 0px 0px 15px var(--red-opaque) !important;
}

.green-input {
  border: solid 2px var(--green) !important;
  background-color: var(--green-tint) !important;
  color: var(--green-alt) !important;
}
.green-input:focus {
  outline: solid 2px var(--green-opaque) !important;
  box-shadow: 0px 0px 15px var(--green-opaque) !important;
}

.li-clear {
  margin-right: 0.2rem;
  padding-inline: 0.45rem;
  border-radius: 50%;
  background-color: var(--light-tint);
  font-weight: 700;
  color: var(--accent-alt);
  box-shadow: var(--shadow);
}
.li-clear-alt {
  margin-right: 0.2rem;
  padding-inline: 0.54rem;
  border-radius: 50%;
  background-color: var(--light-tint);
  font-weight: 700;
  color: var(--accent-alt);
  box-shadow: var(--shadow);
}

input[type="text"] {
  display: inline-block;
  width: calc(100% - 2rem);
  height: 3rem;
  padding-inline: 1rem;
  border: solid 2px var(--dim);
  border-radius: var(--radius-1);
  font-size: 1rem;
  box-shadow: inset var(--shadow);
}
input[type="text"]:focus {
  background-color: var(--light-tint);
  outline: solid 2px var(--accent-opaque);
  box-shadow: 0px 0px 15px var(--accent-opaque);
  color: var(--accent-alt);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--darker);
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

#init-prompt {
  width: calc(100% - 2rem);
  max-width: 400px;
  border-radius: var(--radius);
  box-shadow: 0px 0px 15px var(--accent-opaque);
  border: solid 1px var(--accent-opaque);
  overflow: hidden;
}
#init-prompt > div {
  position: relative;
  height: 150px;
  background-image: url("./assets/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#init-prompt > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.65),
    white
  );
}
#init-prompt > img {
  display: block;
  margin: 0.5em auto;
  height: 4rem;
}
#init-prompt > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin: 1rem;
}
#init-prompt > button > img {
  height: 1.1rem;
}

#set-sku-sect {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: calc(100% - 2rem);
  height: 100vh;
  padding: 1rem;
  background-color: white;
}
#set-sku-sect > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
#set-sku-sect > h2 > img {
  height: 1rem;
}

#inspection-interface-sect {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: calc(100% - 2rem);
  height: 100vh;
  padding: 1rem;
  background-color: white;
}
#inspection-interface-sect > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
#inspection-interface-sect > h2 > img {
  height: 1rem;
}
#inspection-interface-sect > ol {
  padding: 0;
}

#inspection-interface-sect > ol > li {
  margin-bottom: 0.5rem;
  color: var(--dim);
  list-style: none;
}
#inspection-interface-sect > .action-btns-container > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 2rem);
}
#ref-sku-display {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  user-select: none;
}
#new-barcode-input {
  margin-bottom: 1rem;
}
#box-counter {
  margin: 0;
  font-size: 2.5rem;
}
#modal-mask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#modal-mask > .modal {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  width: calc(100% - 2rem);
  border-radius: var(--radius);
  background-color: white;
  box-shadow: 0px 0px 15px var(--accent-opaque);
  border: solid 1px var(--accent-opaque);
}

#toast {
  position: absolute;
  top: -5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.8rem;
  background-color: var(--light-tint);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: solid 1px var(--accent-opaque);
  transition: top 0.2s cubic-bezier(0.39, 0.36, 0.68, 1.44);
}
#toast > img {
  height: 0.8rem;
}
#toast > small {
  font-weight: 600;
}
