:root {
  --green-tint: #f4fcf6;
  --green: #39c252;
  --green-alt: #329c46;
  --green-opaque: #39c2524d;
  --red-tint: #fff7f7;
  --red: #e34e4e;
  --red-opaque: #e34e4e53;
  --light-tint: #f9f7fd;
  --accent: #794ee3;
  --accent-alt: #4e3caa;
  --accent-opaque: #784ee346;
  --dim: #6d657e;
  --dark: #36403c;
  --darker: #2e2e30;
  --shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  --radius: 1rem;
  --radius-1: 0.5rem;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.red {
  color: var(--red) !important;
}

.green {
  color: var(--green-alt) !important;
}

.center {
  display: block;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.dim {
  color: var(--dim);
}

.button {
  width: calc(100% - 2rem);
  height: 3rem;
  border: none;
  border-radius: var(--radius-1);
  box-shadow: 0px 0px 10px var(--accent-opaque);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.accent-btn {
  background-image: linear-gradient(45deg, var(--accent), var(--accent-alt));
  color: white;
}

.clear-btn {
  background-color: white;
  outline: 2px solid var(--accent-opaque);
}

.action-btns-container {
  position: fixed;
  left: 0;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.red-input {
  border: solid 2px var(--red) !important;
  background-color: var(--red-tint) !important;
  color: var(--red) !important;
}
.red-input:focus {
  outline: solid 2px var(--red-opaque) !important;
  box-shadow: 0px 0px 15px var(--red-opaque) !important;
}

.green-input {
  border: solid 2px var(--green) !important;
  background-color: var(--green-tint) !important;
  color: var(--green-alt) !important;
}
.green-input:focus {
  outline: solid 2px var(--green-opaque) !important;
  box-shadow: 0px 0px 15px var(--green-opaque) !important;
}

input[type="text"] {
  display: inline-block;
  width: calc(100% - 2rem);
  height: 3rem;
  padding-inline: 1rem;
  border: solid 2px var(--dim);
  border-radius: var(--radius-1);
  font-size: 1rem;
  box-shadow: inset var(--shadow);
}
input[type="text"]:focus {
  background-color: var(--light-tint);
  outline: solid 2px var(--accent-opaque);
  box-shadow: 0px 0px 15px var(--accent-opaque);
  color: var(--accent-alt);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--darker);
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

#init-prompt {
  width: calc(100% - 2rem);
  max-width: 400px;
  border-radius: var(--radius);
  box-shadow: 0px 0px 15px var(--accent-opaque);
  border: solid 1px var(--accent-opaque);
  overflow: hidden;
}
#init-prompt > div {
  position: relative;
  height: 150px;
  background-image: url("./assets/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#init-prompt > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.65),
    white
  );
}
#init-prompt > img {
  display: block;
  margin: 0.5em auto;
  height: 4rem;
}
#init-prompt > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin: 1rem;
}
#init-prompt > button > img {
  height: 1.1rem;
}

#set-sku-sect {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: calc(100% - 2rem);
  height: 100vh;
  padding: 1rem;
  background-color: white;
}
#set-sku-sect > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
#set-sku-sect > h2 > img {
  height: 1rem;
}
